@import url('https://fonts.googleapis.com/css?family=Teko:600');

.nav {
    background: rgb(238, 23, 31);
    height: 80px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: center;
}

img.img-thumbnail {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin-top: 30px; 
}

.row {
    text-align: center;
}

.tittle {
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    color: white;
    margin-top: 10px;
}

.rodape{
    margin-top: 30px;
    color: white;
    text-align: center;
}